# Question 1

In [91]:
a=0 #Initially the variable "a" is assigned the value of 0
def b():
    global a #indicates all references to "a" in function b() are to the global "a"
    a=c(a) # function is called with passing the current value of "a" as an argument
def c(a):
    return a+2 
#The function b() is called three times in a row, resulting in the execution of the code within the function each time
#the value returned from c(a) is assigned back to the global variable "a" in the b() function
#In each iteration of the b() function, the value of a is incremented by 2
b() #a = 0 + 2 = 2
b() #a = 2 + 2 = 4
b() #a = 4 + 2 = 6
a #When this expression is evaluated, it will display the value 6

6

# Question 2

In [92]:
def fileLength(filename):
    try:
        infile = open(filename, 'r')
        lineList = infile.read()
        leng = len(lineList)
        infile.close()
        #return leng 
        print(f"The length of the file '{filename}' is: {leng}")
    except FileNotFoundError:
        print(f"File {filename} not found.")
        
fileLength('fileLength.py')
#fileLength('fileLength.txt')

File fileLength.py not found.

# Question 3

In [93]:
class Marsupial:
    contents = []
    def put_in_pouch(self, thing):
        self.contents.append(thing)
        return
    def pouch_contents(self):
        return self.contents
        
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')

print(m.pouch_contents())

class Kangaroo(Marsupial):
    x = 0
    y = 0
    def __init__(self,x,y):
        self.x = x
        self.y = y
    def jump(self,dx,dy):
        self.x += dx
        self.y += dy
    def __str__(self):
        return "I am a Kangaroo located at coordinates (%d,%d)" % (self.x,self.y)

k = Kangaroo(0,0)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# Question 4

In [94]:
def Collatz(x):
    while x != 1:
        print(x)
        if x % 2 == 0:
            x = x // 2
        else:
            x = 3 * x + 1
    print(x)
Collatz(10)
#Collatz(1)

10
5
16
8
4
2
1

# Question 5

In [95]:
def binary(n):
    if n > 0:
        binary(n//2)
    print(n % 2, end='')
binary(0)
#binary(1)
#binary(3)
#binary(9)

0

# Question 6

In [96]:
from html.parser import HTMLParser
import re

indentation = '    '
HEADER_PATTERN = re.compile(r"h[1-9]")

class HeadingParser(HTMLParser):
    isHeadingTag = False
    headingIndentationLen = 0
    def handle_starttag(self, tag, attrs):
        if re.match(HEADER_PATTERN, tag):
            self.isHeadingTag = True
            self.headingIndentationLen = int(tag[1])-1
        
    def handle_endtag(self, tag):
        self.isHeadingTag = False
        self.headingIndentationLen = 0
        
    def handle_data(self, data):
        if self.isHeadingTag:
            print(indentation*self.headingIndentationLen+data)
            
infile = open("w3c.html", "r")
content = infile.read()
infile.close()

hp = HeadingParser()
hp.feed(content)

W3C Mission
    Principles

# Question 8

In [100]:
import sqlite3

# connect to the database
connection = sqlite3.connect('temp_rain.db')

# create a cursor object
c = connection.cursor()

# create a table
c.execute('''CREATE TABLE temp_rainfall
(
City VARCHAR,
Country VARCHAR,
Season VARCHAR,
Temperature FLOAT,
Rainfall FLOAT
)''')

# insert data into the table
c.execute("INSERT INTO temp_rainfall VALUES ('Mumbai', 'India', 'Winter', 24.8 , 5.9)")
c.execute("INSERT INTO temp_rainfall VALUES ('Mumbai', 'India', 'Spring', 28.4 , 16.2)")
c.execute("INSERT INTO temp_rainfall VALUES ('Mumbai', 'India', 'Summer', 27.9 , 1549.4)")
c.execute("INSERT INTO temp_rainfall VALUES ('Mumbai', 'India', 'Fall', 27.6 , 346.0)")
c.execute("INSERT INTO temp_rainfall VALUES ('London', 'United Kingdom', 'Winter', 4.2 , 207.7)")
c.execute("INSERT INTO temp_rainfall VALUES ('London', 'United Kingdom', 'Spring', 8.3 , 169.6)")
c.execute("INSERT INTO temp_rainfall VALUES ('London', 'United Kingdom', 'Summer', 15.7 , 157.0)")
c.execute("INSERT INTO temp_rainfall VALUES ('London', 'United Kingdom', 'Fall', 10.4 , 218.5)")
c.execute("INSERT INTO temp_rainfall VALUES ('Cairo', 'Egypt', 'Winter', 13.6 , 16.5)")
c.execute("INSERT INTO temp_rainfall VALUES ('Cairo', 'Egypt', 'Spring', 20.7 , 6.5)")
c.execute("INSERT INTO temp_rainfall VALUES ('Cairo', 'Egypt', 'Summer', 27.7 , 0.1)")
c.execute("INSERT INTO temp_rainfall VALUES ('Cairo', 'Egypt', 'Fall', 22.2 , 4.5)")

# save the changes
connection.commit()

# close the connection
connection.close()

# Question 8 (a - h)

In [98]:
import sqlite3

# connect to the database
connection = sqlite3.connect('temp_rain.db')

# create a cursor object
c = connection.cursor()

# create a table
c.execute("SELECT Temperature FROM temp_rainfall")
temperature = c.fetchall()
print("a:")

# print the records
for temp in temperature:
    print(temp[0])
    

c.execute("SELECT City FROM temp_rainfall GROUP BY City")
city = c.fetchall()
print("b:")

# print the records
for cit in city:
    print(cit[0])
    
c.execute("SELECT * FROM temp_rainfall WHERE Country = 'India'")
allrecords = c.fetchall()
print("c:")

# print the records
for records in allrecords:
    print(records)
    
c.execute("SELECT * FROM temp_rainfall WHERE Season = 'Fall'")
allrecords = c.fetchall()
print("d:")

# print the records
for records in allrecords:
    print(records)
    
c.execute("SELECT City, Country, Season FROM temp_rainfall WHERE Rainfall BETWEEN 200 AND 400")
Rainfall = c.fetchall()
print("e:")

# print the records
for AVG in Rainfall:
    print(AVG)
    
c.execute("SELECT City, Country FROM temp_rainfall WHERE Season = 'Fall' AND Temperature > 20.00 ORDER BY Temperature")
Temperature = c.fetchall()
print("f:")

# print the records
for temp in Temperature:
    print(temp)
    
c.execute("SELECT SUM(Rainfall) FROM temp_rainfall WHERE City = 'Cairo'")
Total_rainfall = c.fetchall()
print("g:")

# print the records
for rain in Total_rainfall:
    print(rain[0])
    
c.execute("SELECT SUM(Rainfall),Season FROM temp_rainfall GROUP BY Season")
Total_rainfall = c.fetchall()
print("h:")

# print the records
for rain in Total_rainfall:
    print(rain)

    
# close the connection
connection.close()

a:
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2
b:
Cairo
London
Mumbai
c:
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
d:
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
e:
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')
f:
('Cairo', 'Egypt')
('Mumbai', 'India')
g:
27.6
h:
(569.0, 'Fall')
(192.29999999999998, 'Spring')
(1706.5, 'Summer')
(230.1, 'Winter')

# Question 9

In [99]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
uppercase_words = [word.upper() for word in words]
lowercase_words = [word.lower() for word in words]
length_of_words = [len(word) for word in words]
new_list = []
for word in words:
    if(len(word)>=4):
        new_list.append(word)
print("a: The list of words converted to upper case\n",uppercase_words)
print("b: The list of words converted to lower case\n",lowercase_words)
print("c: The length of each word in the list\n",length_of_words)
print("e: The list of words in list words containing 4 or more characters\n",new_list)

a: The list of words converted to upper case
 ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b: The list of words converted to lower case
 ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c: The length of each word in the list
 [3, 5, 5, 3, 5, 4, 3, 4, 3]
e: The list of words in list words containing 4 or more characters
 ['quick', 'brown', 'jumps', 'over', 'lazy']